.info-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    margin: 6px;
}

.left-side{
    width: 65%;
}

.video-learn {
    width: 100%;
    height: 100%;
}

.right-side{
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.right-side img{
    width: 100%;
    height: 50%;
}

.right-side strong{
    font-size: 20px;
}

.right-side p{
    margin: 0;
}

.display-btn{
    display: flex;
    justify-content: center;
}

.display-btn button{
    margin-top: 5px;
    height: 40px;
    width: 30%;
    color: white;
    background-color: rgb(121, 121, 175);
}