.learner-container {
   display: flex;
    margin: 6px;
    flex-wrap: wrap;
}

.main-individual {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 6px;
}

.btn-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.full-container img {
    width: 100%;
    height: 50%;
}


.full-container h4 {
    margin: 0;
}

.full-container p {
    margin: 5px 0px;
    color: rgb(146, 145, 145);
}

.full-container h3 {
    margin: 5px 0;
}

.btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.already-send{
    padding: 9px 5px;
    border: 1px solid black;
    color: white;
    background-color: rgb(105, 105, 224);
}

.full-container button {
    height: 40px;
    width: 45%;
    background-color: red;
    color: white;
    margin: 3px;
}

.full-container button:hover {
    cursor: pointer;
    background-color: rgb(248, 61, 61);
}

.home {
    width: 280px;
    height: 40px;
    background-color: rgb(121, 121, 175);
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 80px;
}