.home {
    width: 280px;
    height: 40px;
    background-color: rgb(121, 121, 175);
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 80px;
}

.cart-container {
    display: flex;
    margin: 6px;
    flex-wrap: wrap;
}

.cart-container img{
    width: 250px;
    height: 200px;
    margin-top: 8px ;
}

.cart-container h4 {
    margin: 0;
}

.cart-container p {
    margin: 5px 0px;
    color: rgb(146, 145, 145);
}

.cart-container h3 {
    margin: 5px 0;
}

.data {
    color: rgb(146, 145, 145);
    gap: 5px;
}

.individual-cart{
    margin: 4px;
    padding-left: 2px;
}
.btnGroup{
    display: flex;
    justify-content: space-around;
}

.add{
    background-color: blueviolet;
    color: white;
}
.remove-btn1{
    width: 80px;
    background-color: red;
    color: white;
}
