.paper-wrapper {
    position: absolute;
    top: 50%;
    left: 95%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4;
    z-index: 999;
    overflow: hidden;
}

.delete-btn {
    display: flex;
    justify-content: center;
    border-radius: 4px;

}

.delete-btn button {
    color: white;
    background-color: red;
    height: 40px;
}

.delete-btn button:hover {
    cursor: pointer;
    background-color: rgb(248, 61, 61);
}

.cart-btn {
    border: none;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.card-box {
    position: relative;
}

.card-box h4 {
    margin: 0;
}

.card-box p {
    margin: 5px 0px;
    color: rgb(146, 145, 145);
}

.card-box h3 {
    margin: 5px 0;
}

.data {
    color: rgb(146, 145, 145);
    gap: 5px;
}

.data .name {
    gap: 4px;
}