.heading-container {
    display: flex;
}

.title {
    font-size: "28px";
    font-weight: "600";
    margin-right: '20px';
}

.sub-heading {
    margin-top: "10px";
    display: "flex";
    gap: "12px";
    flex-wrap: "wrap";
}

.sub-menu {
    cursor: pointer;
}

.link-sub {
    text-decoration: none;
    color: inherit;
}