.slick-slider {
    width: 100%;
    margin: auto;
    position: relative;
}

.slick-prev,
.slick-next {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
    z-index: 9999 !important;
    width: 40px;
    height: 40px;
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px !important;
    color: black !important;
    opacity: 1 !important;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}