.slick-slider {
    width: 100%;
    margin: auto;
    position: relative;
}

.slick-prev,
.slick-next {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%);
    z-index: 9999 !important;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: wheat;
    /* border: 1px solid #000; */
    border: none;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important;
}

.slick-prev:before,
.slick-next:before {
    content: '' !important;
}

.slick-prev::after,
.slick-next::after {
    font-size: 18px;
    color: black;
    display: block;
    line-height: 1;
}

.slick-prev::after {
    content: '<';
}

.slick-next::after {
    content: '>';
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}