.link-info {
    text-decoration: none;
    color: black;
}

.link-info:hover{
    color: blueviolet;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    border-bottom: 1px solid gray;
    height: 72px;
}

.header-image {
    display: flex;
    align-items: center;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.count{
    display: flex;
    justify-content: center;
    text-align: center;
}

.counter{
    position: absolute;
    right: -5px;
    top: -5px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
background-color: #222;
color: white;
}

.search-box {
    position: relative;
    width: 300px;
}

.search-icon{
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
    left: 5px;
    font-weight: 200;
}
.search-input {
    width: 260px;
    height: 40px;
    font-size: 18px;
    padding-left: 40px;
    border-radius: 28px;
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 5px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.search-item {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-link {
    text-decoration: none;
    color: inherit;
}

.search-desc {
    font-size: 12px;
    color: #555;
}

.icon-size {
    width: 40px;
    height: 40px;
    color: black;
}
.icon-size:hover{
    color: blueviolet;
}

.logout-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.initials {
    width: 45px;
    height: 45px;
    background-color: #222;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}