.full-my-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.individual-cart {
    width: 245px;
    height: 300px;
}

.individual-cart img{
    width:100% ;
    height: 50%;
}


.individual-cart h4 {
    margin: 0;
}

.individual-cart p {
    margin: 5px 0px;
    color: rgb(146, 145, 145);
}

.individual-cart h3 {
    margin: 5px 0;
}

.individual-cart button{
    width: 200px;
}

.teach {
    width: 280px;
    height: 40px;
    background-color: rgb(121, 121, 175);
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 100%;
    margin-top: 80px;
}