
.full-my-container {
   display: flex;
    margin: 6px;
    flex-wrap: wrap;
}

.main-individual {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.individual-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 6px;
}

.individual-course img {
    width: 100%;
    height: 50%;
}


.individual-course h4 {
    margin: 0;
}

.individual-course p {
    margin: 5px 0px;
    color: rgb(146, 145, 145);
}

.individual-course h3 {
    margin: 5px 0;
}

.btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn1{
    width: 120px;
}


.individual-course button:hover {
    cursor: pointer;
    background-color: rgb(248, 61, 61);
}

.teach {
    width: 280px;
    height: 40px;
    background-color: rgb(121, 121, 175);
    color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 80px;
}